.head_sec nav.navbar.navbar-default {
	background: none;
	border: none;
	margin-top: 20px;
}
header {
	background: #efefef;
	border-bottom: 1px solid #e1e1e8;
}
footer {
	text-align: center;
	background: #efefef;
	border-top: 1px solid #e1e1e8;
	padding: 10px 0;
}
.foot_sec ul li {
	list-style: none;
	padding-top: 10px;
	color: #777;
}
.blog_sec {
	padding: 80px 0;
}
.card.mb-4 {
	padding: 20px 0;
	border-bottom: 1px solid #e1e1e8;
}
.blog_sec img.card-img-top {
	width: 100%;
}
.log_usr form {
	max-width: 360px;
	margin: 0 auto;
}
.log_usr form h2 {
	text-align: center;
	font-size: 16px;
	/* text-transform: uppercase; */

	font-weight: 600;
	/* font-style: italic; */

	margin-bottom: 30px;
	background: #efefef;
	padding: 10px;
}
.log_usr {
	padding: 80px 0;
	min-height: calc(100vh - 152px);
}
.sbtn {
	width: 120px;
	margin-top: 10px;
	margin-right: 10px;
}
.dash_bord.log_usr form {
	max-width: 760px;
	margin: 0 auto;
}
.all_posts {
	margin-top: 80px;
	border-top: 1px solid #efefef;
}
.all_posts h2 {
	font-size: 21px;
	text-align: center;
	background: #efefef;
	padding: 10px;
	margin-bottom: 20px;
}
.or_fld p {
	font-size: 15px;
	font-weight: 700;
	text-align: center;
}
.no_rec p {
	font-size: 15px;
	color: #161616;
	padding-left: 20px;
}
.blog_sec img.card-img-top {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	display: block;
}
.imgPlaceholder {
	display: inline-block;
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center;
	margin: 20px 0;
}
.card-footer.text-muted {
	padding-top: 10px;
}
.card-text {
	padding-bottom: 10px;
}
.pst_dte {
	color: #23527c;
}
img.sigle_img {
    width: 100%;
}
.head_sec .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.head_sec form.navbar-form.navbar-left {
    padding: 0;
}
.card-body h2 {
    font-size: 22px;
    line-height: 32px;
}
.social_login {
    text-align: center;
    margin: 40px 0;
}